#header { 
  background-color: white;
  width: 100%;
  height: 355px;
  overflow: hidden;
  margin-top: 67px;
}

.banner--share_extension {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 
    url('../images/banner/gifs_sets.png'),
    url('../images/projects/dark_back_shadow.png'),
    url('../images/projects/dark_back_shadow.png'),
    linear-gradient(-180deg, #E0C1BE 0%, #F5E3DF 100%);
  background-size: 290px, 440px, 440px, 100%;
  background-position: 82% 30px, 85% bottom, 110% bottom, top;
}


.banner--share_extension h2,
.banner--share_extension h3 {
  margin-bottom: 6px;
  margin-left: 50px;
  font-weight: 500;
  color: white;
}

.banner--share_extension h2 {
  font-size: 30px;
}

.banner--share_extension h3 {
  font-size: 20px;
  opacity: 0.85;
}

/*.nextPage {
  background-image: 
    url('../images/banner/share_logo.png'),
    linear-gradient(-180deg, #CDC6BE 0%, #E1DCD7 100%);
  background-repeat: no-repeat;
  background-size: 410px, 100%;
  background-position: calc(100% - 50px) calc(50% + 30px), 0;
}*/

.nextPage {
  background-image: url("../images/banner/kik_team_dark.png");
}

.nextPage p {
  /*color: rgba(255, 255, 255, 0.75);*/
  color: #B0BC9F;
}

.chevron {
  background-image: url("../ui/kik_read_more_chevron.png");
}