#header { 
  background-color: white;
  width: 100%;
  height: 355px;
  overflow: hidden;
  margin-top: 67px;
}

#banner {
  height: 100%;
  background-image: url("../images/banner/kik_team_darkest.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#banner img {
  height: auto; width: 220px;
  margin-top: 96px;
}

#banner h3 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 18px;
}

.nextPage {
  background-image: url("../images/banner/san_francisco_dark.png");
  background-position: 0 50%;
}

.workPiece.iosExtension {
  background-image:
    url("../images/projects/extension.png"),
    url("../images/projects/back_shadow.png"),
    url("../images/projects/back_shadow.png");
  background-position: calc(100% - 150px) 30px, calc(95% - 120px) bottom, calc(95% + 20px) bottom;
  background-size: 290px, 432px, 432px;
  margin-right: -150px;
  padding-right: 150px;
  background-repeat: no-repeat;
}

.workPiece.gifs {
  background-image: 
    url("../images/projects/gifs.png"),
    url("../images/projects/back_shadow.png"),
    url("../images/projects/back_shadow.png");
  background-position: calc(0% + 150px) 30px, 10px bottom, 160px bottom;
  background-size: 290px, 432px, 432px;
  margin-left: -150px;
  padding-left: 150px;
  background-repeat: no-repeat;
}

.workPiece.kikShare {
  background-image: url("../images/kik_share_logo.png");
  background-position: 90% center;
  background-size: 390px;
  background-repeat: no-repeat;
}

.see_styleguide {
  background-image: url(../images/arrow-down.png);
}