@font-face {
  font-family: "San Francisco Bold";
  font-weight: 700;
  src: url("https://dl.dropboxusercontent.com/u/2311446/San%20Francisco%20Font/SF-UI-Text-Bold.otf");
}

@font-face {
  font-family: "San Francisco Medium";
  font-weight: 500;
  src: url("https://dl.dropboxusercontent.com/u/2311446/San%20Francisco%20Font/SF-UI-Text-Medium.otf");
}

@font-face {
  font-family: "San Francisco Semibold";
  font-weight: 600;
  src: url("https://dl.dropboxusercontent.com/u/2311446/San%20Francisco%20Font/SF-UI-Text-Semibold.otf");
}

@font-face {
  font-family: "San Francisco Regular";
  font-weight: 400;
  src: url("https://dl.dropboxusercontent.com/u/2311446/San%20Francisco%20Font/SF-UI-Text-Regular.otf");
}



* { margin: 0, padding: 0; font-family:-apple-system, "Helvetica Neue", sans-serif; color: #969696; -webkit-font-smoothing: antialiased;}

a {
  text-decoration: none;
  font-weight: 500;
  transition: all .2s ease-out;
}

a:hover {
  color: #71B2F9;
}

.a--chev {
  text-decoration: none;
  font-weight: 500;
  transition: all .2s ease-out;
  background-image: url(../images/chevron-forward.png);
  background-size: 8px;
  background-repeat: no-repeat;
  padding-right: 14px;
  background-position: 100% 100%;
}

.a--rect-hover:hover {
  background-color: #EBE8E4;
  padding: 2px 4px 2px 4px;
  margin: -2px -4px -2px -4px; /*to avoid pusing nearby elements around*/
  border-radius: 4px;
}

#nav a:hover {
  color: #7F7F7F;
}

.light {
  color: white;
}

.light h1, .light h2, .light h3 {
  color: #B3B2AE;
}

.light p {
  color: white;
}

#nav {
  width: 100%;
  min-height: 67px;
  height: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.0);
  background-color: #F9F6F3;
}

#nav #openNav {
  display: none;
}

#nav a {
  font-size: 16px;
}

#leftLinks br {
  display: none;
}

#navLinksContainer {
  width: 80%; /*height:18px;*/
  max-width: 780px;
  
  margin: auto;
  position: relative;
  color: #9E9D9D;
  margin-top: 24px;
  margin-bottom: 24px;
  /*background-color: red;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

#leftLinks {
  float: left;
}

#leftLinks a {
   margin-right: 20px;
}

#rightLinks {
  float: right;
}

.contactLink {
    width: calc(100%/4);
    height: 60px;
    float: left;
    background-image: url(images/chevron-back.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15%;
}

.intro {
  font-size: 18px;
  margin-top: 25px;
}

p {
   font-weight: 400;
}

h1, h2, h3, span {
  color: #757575;
  margin: 0;
}

h3 {

}

body { background-color: #F9F6F3; }

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  font-size: 
}

.button_secondary {
  background-color: #C8C5C2;
  color: white;
  padding: 9px 12px 10px 12px;
  border-radius: 4px;
}

.button--image {
  padding-left: 35px;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 13px;
}

#wrapper, #footerWrapper {
  width: 80%; 
  max-width: 780px;
  margin: auto;
}

#footer {
  /*background-color: #57534B;*/
}

.block {
  /* Mask: */
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.04);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.block:hover { 

}

/*TODO: make an animation class*/

.horizDivider {
  height: 30px;
  width: 100%;
  clear: both;
}

.vertDivider {
  width: 30px;
  height: 1px;
  float: left;
}

.subTitle {
  position: absolute;
  text-align: center;
  font-weight: 500;
  bottom: 20px;
  width: 100%;
}

.hoverBlock {
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.hoverBlock:hover {
  transform: scale(1.02);
  box-shadow: 0px 12px 15px 0px rgba(0,0,0,0.09);
}

.smallBlock {
  height: 170px;
  width: 300px;
}

.mediumBlock {
  height: 270px;
}

.section {
  width: calc(100% - 70px);
  margin: auto;
  height: 1px;
  background-color: #E2DDD8;
  margin: 10px auto 10px auto;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 700;

  display: inline-block;
  padding: 0 16px 0 16px;

  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: -9px;
  color: #CDC8C3;
  background-color: #F9F6F3;
}

.workPieceContainer {
  text-align: center;
  width: calc(50% - 15px);
  float: left;
  margin-bottom: 30px;
}

.workPiece {
  height: 300px;
}

.workTitle {
  font-weight: 600;
  margin-top: 15px;
}

.workAbout {
  margin-top: 6px;
}

.island {
  background-color: #EBE8E4;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
}

.vertAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nextPage {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 30px;
  padding-top: 45px;
}

.nextPage.block {
  height: 150px;
  font-weight: 300;
}

.nextPage h2 {
  font-weight: 500;
  margin-bottom: 4px;
  color: white;
}

.nextPage p {
  margin: 0;
  color: #B1B1B1;
}