#header { 
  background-color: white;
  width: 100%;
  height: 355px;
  overflow: hidden;
  margin-top: 67px;
}

#banner {
  height: 100%;
  background-image: url("../images/banner-scaled7.png");
  background-position: center;
  background-size: 125%;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner img {
  float: left;
  margin-top: 50%;
  margin-top: 115px;
  margin-left: 65px;
  height: auto; width: 300px;
}

.oneColumn {
  display: none;
}

#icons {
  height: 230px;
}

#horizGallery {
  height: 100%;
  width:100%;
  overflow: scroll;
}

#innerGallery {
  width: 880px;
  overflow: hidden;
  position: relative;
  left: 20px;
  top: 20px;
}

#innerGallery img{
  float:left;
}

#about {}

.contactLinks {
  height: 40px;
  width: 255px;
  margin-top: 25px;
  margin-bottom: 45px;
  display: inline-block;
  float: left;
}

.contactLinks a {
  display:inline-block;
  float: left;
  background-repeat: no-repeat;
  height: 100%;
  margin-right: 25px;
  line-height: 40px;
  opacity: 0.6;
}

.email {
  background-image: url("../images/email.png");
  background-size: 100%;
  width: 48px;
  background-position: 0 50%;
  margin-right: 50px;
}

.twitter {
  background-image: url("../images/twitter.png");
  background-size: 100%;
  width: 35px;
  background-position: 0 50%;
}

.linkedin {
  background-image: url("../images/linkedin.png");
  background-size: 100%;
  width: 31px;
  background-position: 0 50%;
}

.dribbble {
  background-image: url("../ui/contact_links/dribbble.png");
  background-size: 100%;
  width: 31px;
  background-position: 0 calc(50% + 3px);
}

.verticalBorder {
  width: 1px;
  height: 45px;
  background-color: #D8D3CE;
  margin-right: 32px;
  margin-left: -4px;
  margin-top: 24px;
  float: left;
}

.seeResume {
  background-color: #969696;
  border-radius: 100px;
  padding: 0 20px 0 20px;
  color: #F9F6F3;
}

.see_resume {
  display: inline-block;
  float: left;
  margin-top: 33px;
  background-color: #AAA8A7;
  border-radius: 4px;
  color: #F9F6F3;
  padding: 4px 10px 6px 10px;
}


/*RESPONSIVE*/
@media screen and (max-width: 699px) {

    #banner img {
      float: none;
      margin: 0;
      margin-top: 205px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    #banner {
      background-size: 1025px;
      background-position: -420px -58px;
    }

    #yelp {
      background-size: 70%;
      background-size: 319%;
    }

    #kik {
      background-size: 53%;
      background-size: center calc(50% - 20px);
    }
}

@media screen and (max-width: 585px) {
  .workDivider {
    display: none;
  }

  .workPieceContainer {
    width: 100%;
    /*margin-bottom: 30px;*/
  }

  .workDivider {
    display: none;
  }

}

@media screen and (max-width: 420px) {
  #yelp {
    width: 100%;
    margin-bottom: 30px;
    background-size: 220%;
  }

  #kik {
    width: 100%;
    background-size: 135px;
  }
}

@media screen and (max-width: 398px) {
  #leftLinks br {
    display: inline;
  }

  #leftLinks a {
    display: inline-block;
    margin-bottom: 15px;
  }

  #rightLinks {
    display: none;
  }

  #banner img {
    width: 90%;
  }

  #nav #openNav {
    display: block;
    text-align: center;
    margin-top: 25px;
  }

  #navLinksContainer {
    display: none;
  }
}

/*iPhone 6*/
@media screen and (max-width: 398px) {
  #header {
    height: 320px;
  }

  #banner {
    background-position: calc(50% - 120px) -58px;
  }

  .mediumBlock {
    height: 200px;
  }
}


