@font-face {
  font-family: "San Francisco"; /*bold*/
  font-weight: 700;
  src: url("../fonts/SF-UI-Text-Bold.otf");
}

@font-face {
  font-family: "San Francisco"; /*medium*/
  font-weight: 500;
  src: url("../fonts/SF-UI-Text-Medium.otf");
}

@font-face {
  font-family: "San Francisco"; /*semibold*/
  font-weight: 600;
  src: url("../fonts/SF-UI-Text-Semibold.otf");
}

@font-face {
  font-family: "San Francisco"; /*regular*/
  font-weight: 400;
  src: url("../fonts/SF-UI-Text-Regular.otf");
}



* { margin: 0, padding: 0; font-family:-apple-system, "Helvetica Neue", sans-serif; color: #969696; -webkit-font-smoothing: antialiased;}

a {
  text-decoration: none;
  font-weight: 500;
  transition: all .2s ease-out;
}

a:hover {
  color: #71B2F9;
}

.blue_link {
  color: #71B2F9;
  display: inline-block;
}

.disabled_link {
  color: #C1C1C1;
}

.disabled_link:hover {
  color: #C1C1C1;
}

.large_link {
  font-size: 18px;
}

.a--chev {
  text-decoration: none;
  font-weight: 500;
  transition: all .2s ease-out;
  background-image: url(../images/chevron-forward.png);
  background-size: 8px;
  background-repeat: no-repeat;
  padding-right: 14px;
  background-position: 100% 100%;
}

.a--rect-hover:hover {
  background-color: #EBE8E4;
  padding: 2px 4px 2px 4px;
  margin: -2px -4px -2px -4px; /*to avoid pusing nearby elements around*/
  border-radius: 4px;
}

#nav a:hover {
  color: #7F7F7F;
}

.nav_divider {
  width: 1px;
  background: #CACACA;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 20px;
  display: inline-block;
}

.light {
  color: white;
}

.light h1, .light h2, .light h3 {
  color: #B3B2AE;
}

.light p {
  color: white;
}

#nav {
  width: 100%;
  min-height: 67px;
  height: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.0);
  background-color: #F9F6F3;
}

#nav #openNav {
  display: none;
}

#nav a {
  font-size: 16px;
}

#leftLinks br {
  display: none;
}

#navLinksContainer {
  width: 80%; /*height:18px;*/
  max-width: 780px;
  
  margin: auto;
  position: relative;
  color: #9E9D9D;
  margin-top: 24px;
  margin-bottom: 24px;
  /*background-color: red;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

#leftLinks {
  float: left;
}

#leftLinks a {
   margin-right: 20px;
}

#rightLinks {
  float: right;
}

.contactLink {
    width: calc(100%/4);
    height: 60px;
    float: left;
    background-image: url(images/chevron-back.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15%;
}

.intro {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 45px;
}

h1 + .subtitle {
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  margin-top: 6px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

p, strong, small {
  color: #969696;
}

ul p, li p {
  margin: 0;
}

h1, h2, h3, span {
  color: #8E8E8E;
  margin: 0;
}

h3 {
  font-size: 18px;
}

body {
  background-color: #F9F6F3;
  margin: 0;
}

li {
  margin: 8px 0;
}

.dark_title {
  color: #676767;
}

.sub_info {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.quote {
  margin-left: 30px;
  font-weight: 600;
}

.quote p:first-child {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
}

.quote .author {
  width: 100%;
  font-weight: normal;
  text-align: right;
  position: relative;
  right: 20px;
  margin-top: 0;
}

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.button_secondary {
  background-color: #C8C5C2;
  color: white;
  padding: 8px 12px 10px 12px;
  border-radius: 4px;
}

.button--image {
  padding-left: 35px;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 13px;
}

.link-minimal {
  color: #71B2F9;
}

#wrapper, #footerWrapper {
  width: 80%; 
  max-width: 780px;
  margin: auto;
}

#footer {
  /*background-color: #57534B;*/
}

.block {
  /* Mask: */
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.04);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.block:hover { 

}

/*TODO: make an animation class*/

.col-3 .medium_circle {
  margin: auto;
}

.circle {
  border-radius: 50%;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
}
}

.medium_circle {
  background-color: #C4C3C1;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 200px;
  overflow: auto;
}

.medium_circle p {
  margin-top: 7px;
  margin-bottom: 0;
  color: #F9F6F3;
  font-weight: bold;
}

.small_circle {
  margin-top: 5px;
  background-color: #C4C3C1;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 200px;
  overflow: auto;
}

.small_circle p {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 0;
  color: #F9F6F3;
  font-weight: bold;
}

.circle_list .circle_paragraph {
  float: right;
  width: calc(100% - 40px);
}

ol.circles li {
  background-color: orange;
  border-radius: 5px;
}

.horizDivider {
  height: 30px;
  width: 100%;
  clear: both;
}

.vertDivider {
  width: 30px;
  height: 1px;
  float: left;
}

.subTitle {
  position: absolute;
  text-align: center;
  font-weight: 500;
  bottom: 20px;
  width: 100%;
}



.hoverBlock {
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.hoverBlock:hover {
  transform: scale(1.02);
  box-shadow: 0px 12px 15px 0px rgba(0,0,0,0.09);
}

.smallBlock {
  height: 170px;
  width: 300px;
}

.mediumBlock {
  height: 270px;
}

.section {
  width: calc(100% - 70px);
  margin: auto;
  height: 1px;
  background-color: #E2DDD8;
  margin: 10px auto 10px auto;
}

.small_section {
  width: 200px;
  max-width: 40%;
  margin: auto;
  height: 1px;
  background-color: #E2DDD8;
  margin: 10px auto 10px auto;
}

.screen {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.02);
  border: 1px solid rgba(29,14,0,0.07);
}

.screen + small,
br + small {
  display: inline-block;
  font-size: 14px;
  margin-top: 12px;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 700;

  display: inline-block;
  padding: 0 16px 0 16px;

  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: -9px;
  color: #CDC8C3;
  background-color: #F9F6F3;
}

.workPieceContainer {
  text-align: center;
  width: calc(50% - 15px);
  float: left;
  margin-bottom: 30px;
}

.workPiece {
  height: 330px;
}

.workTitle {
  font-weight: 600;
  margin-top: 15px;
}

.workAbout {
  margin-top: 6px;
}

.iphone_5s {
  height: 531px;
  width: 253px;
  background-image: url("../images/devices/iphone_5s.png");
  background-size: 100%;
  margin: auto;
}

.iphone_5s video {
  margin-top: 31.2%;
  margin-left: 8.45%;
  width: 84%;
}

.blue_banner {
  /*background-color: #62BCF5;*/
  background-color: linear-gradient(-180deg, #B6C6D4 0%, #D5DEE7 100%);
}

.no_shadow {
  box-shadow: none;
}

.island {
  background-color: #EBE8E4;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
}

.col-4 {
  width: calc(100% / 4);
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
}

.orange_tag {
    margin-left: 12px;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 8px 4px 8px;
    border: 1px solid orange;
    border-radius: 3px;
    color: orange;
    position: relative;
    top: -3px;
}

small {
  color: #A7A7A7;
}

.vertAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nextPage {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 30px;
  padding-top: 45px;
}

.nextPage.block {
  height: 150px;
  font-weight: 300;
}

.nextPage h2 {
  font-weight: 500;
  margin-bottom: 4px;
  color: white;
}

.nextPage p {
  margin: 0;
  color: #B1B1B1;
}

.read_more_block h3 {
  text-align: center;
}

.read_more_block a {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.large_blue_chevron {
  background-image: url('../ui/large_blue_chevron_thin.png');
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: right 4px;
  padding-right: 16px;
}

.back_chevron_gray {
  padding-left: 18px;
  background-image: url('../ui/gray_back_chevron.png');
  background-size: 9px;
  background-position: 1px center;
  background-repeat: no-repeat;
}

.forward_chevron_gray {
  padding-left: 18px;
  background-image: url('../ui/gray_back_chevron.png');
  background-size: 9px;
  background-position: 1px center;
  background-repeat: no-repeat;
}

.u-t1 {
  margin-top: 6px;
}

.u-t2 {
  margin-top: 12px;
}

.u-space-t2 {
  margin-top: 12px;
}

.u-space-b2 {
  margin-bottom: 12px;
}

.u-space-b4 {
  margin-bottom: 24px;
}

.u-space-b3 {
  margin-bottom: 18px;
}

.u-space-b4 {
  margin-bottom: 24px;
}

.u-space-t0 {
  margin-top: 0;
}

.u-space-b0 {
  margin-bottom: 0;
}

.u-text-center {
  text-align: center;
}

.u-float-left {
  float: left;
}

.u-img-center {
  display: block;
  margin: 0 auto;
}

.u-img-photo {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
}

#about .contactLinks {
  left: 0;
}

.contactLinks {
  height: 40px;
  width: 245px;
  position: relative;
  left: 15px;
  margin-top: 25px;
  margin-bottom: 45px;
}

.contactLinks a {
  display:inline-block;
  float: left;
  background-repeat: no-repeat;
  height: 100%;
  margin-right: 25px;
  line-height: 40px;
  opacity: 0.6;
}

.email-icon {
  background-image: url("../images/email.png");
  background-size: 100%;
  width: 48px;
  background-position: 0 50%;
  margin-right: 50px;
}

.twitter-icon {
  background-image: url("../images/twitter.png");
  background-size: 100%;
  width: 35px;
  background-position: 0 50%;
}

.linkedin-icon {
  background-image: url("../images/linkedin.png");
  background-size: 100%;
  width: 31px;
  background-position: 0 50%;
}

.dribbble-icon {
  background-image: url("../ui/contact_links/dribbble.png");
  background-size: 100%;
  width: 31px;
  background-position: 0 calc(50% + 3px);
}

.verticalBorder {
  width: 1px;
  height: 100%;
  background-color: #E2DDD8;
  margin-right: 30px;
  float: left;
}

.seeResume {
  background-color: #969696;
  border-radius: 100px;
  padding: 0 20px 0 20px;
  color: #F9F6F3;
}

