#yelp {
  float: left;
  width: calc(50% - 15px);
  background-color: #C21613;
  background-image: url("../images/yelp.png");
  background-position: center;
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: center calc(50% - 9px);
}

#yelp .subTitle {
  color: #FAE0E0;
  background-size: 9px;
  background-image: url("../ui/yelp_chevron_forward.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 103px) 3px;
}

#kik {
  float: left;
    width: calc(50% - 15px);
    background-color: white;
    background-image: url("../images/banner/kik_background2.png"), url("../images/banner/kik_logo_small.png");
    background-position: center center, calc(50% + 6px) calc(50% - 15px);
    background-size: 100%, 135px;
    background-repeat: no-repeat;
}

#kik .subTitle {
  color: #C9C7C4;
  background-size: 9px;
  background-image: url("../ui/kik_chevron_forward.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 80px) 3px;
}

#appExtension {
  background-image:
    url("../images/banner/share_extension_shadow.png");
  background-position: center 27px, 0 0;
  background-repeat: no-repeat;
  background-size: 85%, 100%;
  background-color: #DAE1E8;
}

#gifs {
  background-image: 
    url("../images/banner/gifs_sets_shadow_2.png");
  background-position: center 27px, 0 0;
  background-repeat: no-repeat;
  background-size: 85%, 100%;
  background-color: #F5DED7;
}

#emails {
  background-image:
    url("../images/banner/email_home.png");
    /*linear-gradient(-180deg, #D5C8C8 0%, #EFE2E2 100%);*/
  background-position: center 35px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #E6C5C5;  
}

#other {
  background-image: url("../images/banner/other.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 145%;
  background-color: #D6D7D7;
}

#shareLogo {
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/work%20pieces/kiklogo.png");
  background-position: 50% calc(50% + 6px);
  background-repeat: no-repeat;
  background-size: 72%;
  background-color: #E6E6E3;
}

#glance {
  background-image:
    url("../images/projects/glance_black.png");
  background-position: center 35px, 0 0;
  background-repeat: no-repeat;
  background-size: 82%, 100%;
  background-color: #BEBCC5;
}

#dribbble {
  background-image: url("");
  background-position: center 32px;
  background-repeat: no-repeat;
  background-size: 84%;
}

#msite {
  background-image: url("../images/projects/msite_gold.png");
  background-position: center 27px;
  background-repeat: no-repeat;
  background-size: 75%;
}

#uwBot {
  background-image: url("../images/projects/dribbble.png");
  background-position: center 37px;
  background-repeat: no-repeat;
  background-size: 95%;
}