#yelp {
  float: left;
  width: calc(50% - 15px);
  background-color: #C21613;
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/yelp.png");
  background-position: center;
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center 19px;
}

#yelp .subTitle {
  color: #FAE0E0;
}

#kik {
  float: left;
  width: calc(50% - 15px);
  background-color: white;
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/yelp.png");
  background-position: center;
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center 19px;
}

#kik .subTitle {
  color: #C9C7C4;
}

#appExtension {
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/work%20pieces/app%20extension.png");
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #D5DEE7;
}

#gifs {
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/work%20pieces/gifs.png");
  background-position: center 15px;
  background-repeat: no-repeat;
  background-size: 95%;
}

#shareLogo {
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/work%20pieces/kiklogo.png");
  background-position: center 27px;
  background-repeat: no-repeat;
  background-size: 75%;
}

#glance {
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/work%20pieces/glance.png");
  background-position: center 32px;
  background-repeat: no-repeat;
  background-size: 84%;
}

#dribbble {
  background-image: url("");
  background-position: center 32px;
  background-repeat: no-repeat;
  background-size: 84%;
}

#uwBot {
  background-image: url("https://dl.dropboxusercontent.com/u/2311446/work%20pieces/uwbot.png");
  background-position: center 32px;
  background-repeat: no-repeat;
  background-size: 60%;
}