#header { 
  background-color: white;
  width: 100%;
  height: 355px;
  overflow: hidden;
  margin-top: 67px;
}

#banner {
  height: 100%;
  background-image: url("../images/banner/san_francisco_dark.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#banner img {
  height: auto; width: 350px;
  margin-top: 46px;
}

#banner h3 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: -12px;
}

.nextPage {
  background-image: url("../images/banner/kik_team_dark.png");
}

.workPiece.msite {
  background-image: url("../images/projects/msite.png"), url("../images/projects/back_shadow.png"), url("../images/projects/back_shadow.png");
  background-position: calc(95% - 120px) bottom, calc(70% - 90px) bottom, calc(116% - 162px) bottom;
  background-size: 290px, 290px;
  background-repeat: no-repeat;
  padding-right: 120px;
  margin-right: -120px;
}

.workPiece.header {
  background-image: url("../images/projects/header.png");
  background-position: center 130px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.workPiece.email {
  background-image: 
    url("../images/faded_divider_right.png"), 
    url("../images/projects/email_no_shadow.png"),
    url("../images/projects/back_shadow.png");
  background-position: 95% 100%, calc(100% - 40px) top, 95% 50%;
  background-size: 432px, 290px;
  background-repeat: no-repeat;
}