* {
  color: white; 
  margin: 0; 
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  font-family: -apple-system, "Inter","Helvetica Neue";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.1);
}

body {
  /*background-color: #0A0A0A*/
  background-color: #040404;
  padding-bottom: 180px;
}


/*Light Mode*/

body.lightMode {
  background-color: #a0a5a7;
}

.lightMode .logoSVG path {
  fill: white;
}

.lightMode nav {
  background-color: rgba(189, 189, 189, 0.3)
}

.lightMode .project {
  box-shadow: none;
  /*overflow: auto;*/
}

.lightMode .project {
  background-color: rgba(255, 255, 255, 0.27);
  background-color: rgba(0, 0, 0, 0.2);
  /*box-shadow: inset 0 -5px 110px 0 rgba(255, 255, 255, 0.29);*/
}

.lightMode #frames * {
  text-shadow: none;
}

/*Utilities*/

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.eightyWidth {
  width: 80%;
}

.halfWidth {
  width: 50%;
}

.positionBottom {
  position: relative;
  top: 100%;
  transform: translateY(-150%);
}

.centerHorizontally {
  margin: auto;
}

.centerVertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centerTextHorizontally {
  text-align: center;
}

.roundedEdges {
  border-radius: 25px;
}

.blurredBackground {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.compactBlurredBackground {
  padding: 0;
  margin: 0;
}

.darkMaterial {
  background: rgba(0, 0, 0, 0.3);
}

.blackTransparentGradient {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 100%);
}

.shadowBlock {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.hideNav {
  top: -54px;
}

.showNav {
  top: 0;
}

.darkText * {
  text-shadow: none;
  color: black;
}

.text_align_right {
	text-align: right;
}

.fit_content {
	width: fit-content;
	width: -webkit-fit-content;
}

/*Split*/

.split {
  height: 200px;
  margin-top: 15vh;
}

.split .left *, .split .right * {
  margin-bottom: 0;
}

.split .left h1 + *, .split .right h1 + * {
  margin-top: 12px;
}

/*.split .left h1 + p, .split .right h1 + p {
  opacity: 0.6;
}*/

.left, .right {
  /*height: 100%;*/
}

.left {
  /*background: blue;*/
  float: left;
  width: 50%;
  width: calc(50% - 30px)
}

.right {
  /*background: red;*/
  float: right;
  width: 50%;
  width: calc(50% - 30px)
}


/*Elements*/

#wrapper {
  width: 70%;
  /*margin-top: 40px;*/
  /*margin-bottom: 180px;*/
  max-width: 800px;
  overflow: auto;
}

.wideSection {
  background: gray;
  padding-bottom: 15vh;
  margin-top: 15vh;
  background: linear-gradient(rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.15));
  background: rgba(255, 255, 255, 0.05);
}

#wrapper p:last-child {
  margin-bottom: 0;
  /*background: red;*/
}

#home .logo {
  height: 60px;
  width: 200px;
}

#home nav {
  /*position: relative;*/
  top: -54px;
}

#home #wrapper {
  /*margin-bottom: 180px;*/
  overflow: visible;
}

#home #header {
  margin: 60px;
}

#home .project h2 {
  opacity: 0.8
}

img {
  border-radius: 9px;
  /*margin: auto;*/
  margin-bottom: 24px;
  display: block;
  width: 80%;
}

p, h2 {
  line-height: 28px;
}

p {
  font-size: 21px;
  margin-bottom: 24px;
  font-weight: normal;
  /*opacity: 0.85;*/
  opacity: 0.7;
}

h1 {
  margin-bottom: 4px;
  font-weight: 800;
  /*font-weight: 900;*/
}

h1 + p {
  margin-top: 20px;
}

h2 {
  font-size: 21px;
  margin-bottom: 28px;
  /*margin-bottom: 4vh;*/
  opacity: 0.6;
}

h3 {
  font-size: 28px;
  margin-top: 46px;
  margin-bottom: 4px;
}

nav {
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 1;
  top: -1px;
}

nav a {
  float: right;
  text-decoration: none;
  opacity: 0.8;
  margin-right: 24px;
}

nav a:first-child {
  float: left;
  opacity: 1;
}

nav a:nth-child(2) {
  margin-right: 0;
}

nav #wrapper {
  margin-bottom: 0;
  margin-top: 0;
}

nav .logo {
  width: 130px;
  height: 100%;
}

nav .links {
  float: left;
}

ol {
  padding-left: revert;
  line-height: 28px;
  margin-top: 16px;
  font-size: 21px;
  /* padding-left: 30px; */
  position: relative;
  left: -12px;
}

li {
  opacity: 0.7;
}

.logo {
  /*background-image: url("images/logo.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.logoSVG {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.05))
}

.logoSVG path {
  fill: white;
}

a.project {
  display: block;
  text-decoration: none;
}

a.project:hover {
  transform: scale(1.02);
}

.project {
	overflow: auto;
  background-color: rgb(41, 41, 41);
/*  background-image: url("images/glance.png"); */ 
  /*background-size: 330px;*/
  /*background-position: calc(100% - 40px) calc(50% + 4px);*/
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  border-radius: 16px;
  padding: 0 50px 0 50px;
  /*box-shadow: inset 0 -5px 40px 0 rgba(0,0,0,0.10);*/

  /*FaceChat styles*/
  /*background-color: #363030;*/


  margin-top: 12px;
}

.project:hover {
  
}

.project h1 {
  font-size: 34px;

  /*Need this to make the background color work when it's*/
	/*covering the background image*/
	/*display: inline;*/
  margin-bottom: 0px;
  display: inline-block;
}

.project h1.logo {
	background: pink;
	padding: 10px 16px 10px 16px;
	margin: -10px -20px -10px 0px;
}

.project h2 {
  font-size: 18px;
  font-weight: normal;
  width: 80%;
}

.contentDivider {
  font-size: 16px;
  margin: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  opacity: 0.7;
}


/*Home Page*/

#home nav .logo {
  width: 130px;
  height: 100%;
}

#home .project .skills {
  position: relative;
  /*height: 0;*/
  /*top: 26px;*/
  opacity: 0;
}

#home .project .skills span {
  border-radius: 12px;
  background: white;
  color: black;
}

#home .project:hover .skills {
  opacity: 1;
}

#home #Glance {
	background-image: url("images/glance.png"), linear-gradient(180deg, rgba(53,66,66,0.00) 50%, #354242 100%, #594439 100%);

	background-position: calc(40px) calc(50% + 4px), center;
	background-size: 330px, 100%;
	background-color: #1C2323;
}

#home #Glance h2 {
	color: #ECFFFF;
}

#home #FaceChat {

	background-image: url("images/demo2.png"), linear-gradient(180deg, rgba(62,47,44,0.00) 50%, #3E2F2C 100%);

	background-color: #231B1B;
	background-position: calc(100% - 40px) calc(50% + 4px), center;
	background-size: 330px, 100%;
	opacity: 0.87;
	
}

#home #FaceChat h2 {
	color: #FFDCCC;
}

#home .project h2 {
	margin-bottom: 0;

	/*Need this to make the background color work when it's*/
	/*covering the background image*/
	display: table-row;
}

#home .project .titles {
	left: 40px;
}

#home .project.text_right h2 {
	width: 100%;
}

#home .project.text_right .titles {
	left: 0;
}

#home .project.text_right .titles {
	float: right;
	width: 40%;
}

#home .project div.badge {
	background: rgba(0, 0, 0, 0.7);
	margin-bottom: -100px;
	position: relative;
	left: 50px;
	margin-top: 8px;
	margin-right: 8px;
	text-align: right;
	width: initial;
	float: right;
	font-size: 14px;
	padding: 8px 14px;
	padding: 9px 12px 10px 12px;
	border-radius: 8px;
}

#home .project .badge.TestFlight {
/*background: rgba(0, 0, 0, 0.7);*/
	/*margin-bottom: -100px;*/
	/*position: relative;*/
	/*left: -69px;*/
	/*margin-top: 8px;*/
	/*margin-right: 8px;*/
	/*text-align: right;*/
	/*width: initial;*/
	/*float: right;*/
	/*font-size: 14px;*/
	/*padding: 8px 14px;*/
	/*padding: 9px 12px 10px 12px;*/
	/*border-radius: 8px;*/


	background-image: url("images/testflight_icon.png");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 6px center;
	padding-left: 41px;
}

#home .project .badge.comingSoon {
	/*color: inherit;*/
	color: white;
	text-shadow: none;
	background-color: rgba(242, 158, 0, 0.84);

	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 6px center;
}


/*Project Page*/

#project #header {
  height: 85vh;
  min-height: 300px;
  background-size: 90%;
  background-color: rgba(255, 255, 255, 0.05);

  /*background-image: url("images/facechat/tile.png");*/
  /*background-size: 8px;*/
  background: linear-gradient(rgba(62, 47, 44, 0) 50%, #3e2f2c), #1A1414;
}

#project #header {
  background-image: gray
}

#project.Glance #header {
  background: linear-gradient(180deg, rgba(53,66,66,0.00) 50%, #354242 100%, #594439 100%), #111616;
}

#project.Glance .mainTitle h2 {
  color: #ECFFFF;
}

#project.FaceChat .mainTitle h2 {
  color: #FFDCCC;
}

#banner {
	height: calc(100% - 130px - 56px - 30px);
	width: 100%;
	/*background: red;*/
	float: right;
	margin-bottom: -200%;
	position: relative;
	top: calc(56px + 15px);
	background-size: contain;
	background-image: url("images/facechat/banner.png");
	background-position: center;
	background-repeat: no-repeat;
}

.FaceChat #banner {
  background-image: url("images/facechat/banner.png");
}

.Glance #banner {
  background-image: url("images/glance/banner.png");
}

.mainTitle.centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

#project .mainTitle h1 {
  font-size: 40px;
  margin-top: 0;
}

#project .mainTitle h2 {
  /*font-size: 24px;*/
  font-size: 21px;
  font-weight: normal;
  opacity: 0.7
}

#project h1 {
  /*font-size: 30px;*/
  font-size: 34px;
  margin-top: 15vh;
}

#project .split h1:first-child
{
  /*font-size: 30px;*/
  margin-top: 0;
}

#project h2 {
  font-size: 21px;
  font-weight: normal;
}

#project #content {
  /*margin-top: 30px;*/
  /*margin-top: 12vh;*/
}

#project #content p {
  /*margin-bottom: 10vh;*/
}


/*Individual Project Pages*/

body#project.FaceChat h2,
body#project.FaceChat p
{
  /*Project tint*/
  color: #fff4f0;
}


/*Individual Project Styles*/

.FaceChat .split,
.Glance .split
{
	/*height: 350px;*/
  height: 380px;
}

#glance {
  /*background-image: linear-gradient(rgb(151, 155, 160) 42.02%, rgba(196, 195, 189, 1));*/
  /*background-image: linear-gradient(rgb(205, 217, 224), rgba(194, 193, 189, 1));*/
}

#glance h1, #glance h2 {

}

#frames {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  background-image: linear-gradient(rgb(199, 198, 197), rgba(255, 255, 255, 1) 78.57%);
}

#wish {
  background-color: rgba(105, 191, 254, 0.99);
  color: rgba(105, 191, 254, 0.99);
  background-image: url("images/wish4.png"), linear-gradient(180deg, rgba(162,230,255,0.00) 50%, #A2E6FF 100%);
	background-size: 330px, 100%;
	background-position: calc(100% - 50px) calc(50% + -11px), center;
}

#wish img {
	height: 46px;
width: auto;
margin: 0;
margin-bottom: 4px;
margin-top: 4px; /*manual adjustment to perfectly center*/
position: relative;
left: -10px;
/*top: -24px;*/
border-radius: 0;
/*margin-bottom: -20px;*/
}

 #wish h1, #wish h2 {
  color: white;
 }

#yelp {
	background-color: #C71E24;
	color: rgb(227, 61, 61);
	background-image: url("images/yelp_graphic3.png"), linear-gradient(180deg, rgba(255,255,255,0.00) 50%, rgba(255,255,255,0.14) 100%);
	background-size: 350px, 100%;
	background-position: calc(50px) calc(50% + 30px), center;
}

 #yelp h1, #yelp h2 {
  color: white;
 }

 #yelp img {
	height: 75px;
	width: auto;
	margin: 0;
	margin-bottom: 4px;
	position: relative;
	left: 0px;
	border-radius: 0;
	/*top: -45px;*/
	border-radius: 0;
	/*margin-bottom: -43px;*/
}

#kik {
  color: #607046;
  background: #E2FFD8;
background-image: url("images/kik_graphic.png"), linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5));
background-position: calc(100% - 40px) calc(50% + 78px), center;
background-size: 440px, 100%;
background-repeat: no-repeat;
}

#kik h1, #kik h2 {
  color: #839c5c;
  text-shadow: none;
 }

#kik img {
	height: 46px;
	width: auto;
	margin: 0;
	margin-bottom: 4px;
	position: relative;
	left: 0px;
	border-radius: 0;
}


/*Screen Size Adjustments*/

/*Medium screen widths*/
@media screen and (max-width: 760px) {

  #wrapper {
    width: 85%;
  }

  #home .project .titles {
	left: 0px;
}

  .project .centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  .project#wish .titles.centerVertically {
  	transform: translateY(-134%);
  }

  .project#yelp .titles.centerVertically {
  	transform: translateY(-131%);
  }

  .project#kik .titles.centerVertically {
  	transform: translateY(-137%);
  }

  .project#yelp .compactBlurredBackground {
    background-color: rgba(208, 64, 64, 0.25);
  }

  .project#wish .compactBlurredBackground {
    background-color: rgba(105, 191, 254, 0.38);
  }

  .project#kik .compactBlurredBackground {
    background-color: rgba(255, 255, 255, 0.73);
  }

  .compactBlurredBackground {
  	width: fit-content;
  	width: -webkit-fit-content !important;
	 backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	/*padding: 4px 14px 0px 14px;*/
  padding-left: 8px;
  padding-right: 8px;
	margin: 0px 0px 0px -14px;
	border-radius: 6px;
  }

  #home h1.compactBlurredBackground {
    margin-bottom: 2px;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }

  background-color: rgba(105, 191, 254, 0.38);

  #home .project#wish .compactBlurredBackground {
    background-color: rgba(105, 191, 254, 0.38);
    background:red;
  }

  /*The wish logo img*/
  #home .project#wish div.compactBlurredBackground {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  /*The yelp logo img*/
  #home .project#yelp div.compactBlurredBackground {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  /*The kik logo img*/
  #home .project#kik div.compactBlurredBackground {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  #home .project#wish div.compactBlurredBackground img {
    left: 0px;
  }

  #home #Glance {
  	background-position: calc(100% - 40px) calc(50% + 4px), center;
  }

  #home .project.text_right .titles {
	float: initial;
	width: initial;
}

  #wrapper .split {
    height: initial;
  }

  #wrapper .split .left, #wrapper .split .right {
    width: initial;
  }

  #wrapper .split .left *, #wrapper .split .right *{
    margin-bottom: 24px;
  }

  #wrapper .split .left h1, #wrapper .split .right h1 {
    margin-bottom: 8px;
  }

  #wrapper .split .right.centerVertically, #wrapper .split .left.centerVertically {
    position: initial;
    top: initial;
    transform: initial;
    margin: initial;
  }

  #wrapper .split .left .centerHorizontally, #wrapper .split .right .centerHorizontally  {
    /*margin: initial;*/
  }

  .left, .right {
    float: none;
  }

  /*Need this to remove table-row style (was used for alignment)*/
  #home #kik h2 {
  	display: initial;
  }

  #project #header {
    height: 72vh;
  }

}

/*Small screen widths*/
@media screen and (max-width: 540px) {

  /*Home page*/

  .project .centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  .project .titles.centerVertically {
    transform: translateY(-132%);
  }

  #home #wrapper {
    width: 100%;
  }

  #home nav #wrapper {
    width: calc(100% - 40px);
  }

  .project {
    border-radius: 0;
    padding: 0 30px 0 30px;
    margin-top: 6px;
  }

  .project h1 {
    /*font-size: 24px;*/
  }

  #home p {
    padding: 0 30px 0 30px;
  }

  #home .project#Glance .badge.TestFlight {
  	/*left: -92px;*/
  }

  #home .project div.badge {
    left: 30px;
  }

  #home #FaceChat {
  	background-position: center;
  	background-size: 210px, 100%;
  }

  #home #Glance {
  	background-position: center;
  	background-size: 210px, 100%;
  }


  /*project titles*/

  .project#wish .titles.centerVertically {
    transform: translateY(-120%);
  }

  .project#yelp .titles.centerVertically {
    transform: translateY(-116%);
  }

  .project#kik .titles.centerVertically {
    transform: translateY(-120%);
  }


  /*project backgrounds*/

  .project#wish,
  .project#yelp,
  .project#kik
  {
    background-size: 75%, 100%;
    background-position: calc(50%) calc(50%), center;
  }

  .project#yelp {
    background-size: 87%, 100%;
  }

  .project#kik {
    background-size: 92%, 100%;
    background-position: calc(50%) calc(50% + 20px), center;
  }


  /*Project page*/

  body {
    /*background-color: blue;*/
  }

  .mainTitle.centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  img {
    width: 100%;
  }
}


/*Small screen heights*/
@media screen and (max-height: 460px) {
  body {
    /*background: green;*/
  }

  #home .project {
    height: 250px;
  }

  .mainTitle.centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  #project .mainTitle h1 {
    font-size: 33px;
  }

  #project .mainTitle h2 {
    font-size: 21px;
  }

  #project h1 {
    font-size: 24px;
    margin-top: 15vh;
  }

  #project #content h1:first-child {
    font-size: 28px;
    /*margin-top: 0;*/
  }

  #project h2 {
    font-size: 21px;
    font-weight: normal;
  }

  /*#project .mainTitle {
    text-align: center;
  }*/
}
