* {
  color: white; 
  margin: 0; 
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  font-family: -apple-system, "Helvetica Neue";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  /*background-color: #0A0A0A*/
  background-color: #0f0f0f;
}


/*Utilities*/

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.eightyWidth {
  width: 80%;
}

.halfWidth {
  width: 50%;
}

.positionBottom {
  position: relative;
  top: 100%;
  transform: translateY(-150%);
}

.centerHorizontally {
  margin: auto;
}

.centerVertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centerTextHorizontally {
  text-align: center;
}

.roundedEdges {
  border-radius: 25px;
}

.blurredBackground {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.darkMaterial {
  background: rgba(0, 0, 0, 0.3);
}

.blackTransparentGradient {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 100%);
}

.hideNav {
  top: -54px;
}

.showNav {
  top: 0;
}


/*Elements*/

#wrapper {
  width: 80%;
  /*margin-top: 40px;*/
  margin-bottom: 180px;
  max-width: 800px;
  overflow: auto;
}

#home .logo {
  height: 60px;
  width: 200px;
}

#home nav {
  /*position: relative;*/
  top: -54px;
}

#home #wrapper {
  /*margin-bottom: 180px;*/
}

#home #header {
  margin: 60px;
}

img {
  border-radius: 9px;
  /*margin: auto;*/
  display: block;
  width: 80%;
}

p {
  font-size: 21px;
  margin-bottom: 24px;
  font-weight: normal;
  opacity: 0.9;
}

h1 {
  margin-bottom: 4px;
}

h2 {
  font-size: 21px;
  margin-bottom: 24px;
  /*margin-bottom: 4vh;*/
  opacity: 0.55;
}

nav {
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 1;
}

nav a {
  float: right;
  text-decoration: none;
  opacity: 0.8;
}

nav a:first-child {
  float: left;
  opacity: 1;
}

nav #wrapper {
  margin-bottom: 0;
  margin-top: 0;
}

nav .logo {
  width: 130px;
  height: 100%;
}

nav .links {
  float: left;
}

.logo {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.project {
  background-color: pink;
  height: 300px;
  width: 100%;
  border-radius: 24px;
  padding: 0 50px 0 50px;
  box-shadow: inset 0 -5px 40px 0 rgba(0,0,0,0.10);
  margin-top: 12px;
}

.project h1 {
  font-size: 30px;
}

.project h2 {
  font-size: 18px;
  font-weight: normal;
  width: 80%;
}

.contentDivider {
  font-size: 16px;
  margin: 30px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.7;
}


/*Home Page*/

#home nav .logo {
  width: 130px;
  height: 100%;
}


/*Project Page*/

#project #header {
  height: 75vh;
  max-height: 520px;
  min-height: 300px;
  background: gray;
}

#project #header {
  background-image: gray
}

#project .mainTitle h1 {
  font-size: 40px;
  margin-top: 0;
}

#project .mainTitle h2 {
  font-size: 24px;
  font-weight: normal;
  opacity: 0.7
}

#project h1 {
  font-size: 30px;
  margin-top: 10vh;
}

#project #content h1:first-child {
  font-size: 30px;
  margin-top: 0;
}

#project h2 {
  font-size: 21px;
  font-weight: normal;
}

#project #content {
  margin-top: 30px;
  margin-top: 12vh;
}

#project #content p {
  /*margin-bottom: 10vh;*/
}


/*Individual Project Styles*/

#glance {
  background-color: rgb(126, 129, 143);
}

#glance h1, #glance h2 {

}

#frames {
  background-color: white;
}

#frames h1, #frames h2 {
  color: black
}

#wish {
  background-color: blue;
}

 #wish h1, #wish h2 {
  color: white;
 }

 #yelp {
  background-color: red;
}

 #yelp h1, #yelp h2 {
  color: white;
 }

#kik {
  background-color: green;
}

 #kik h1, #kik h2 {
  color: white;
 }


/*Screen Size Adjustments*/

/*Medium screen widths*/
@media screen and (max-width: 750px) {
  .project .centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }
}

/*Small screen widths*/
@media screen and (max-width: 500px) {

  /*Home page*/

  .project .centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  #home #wrapper {
    width: 100%;
  }

  .project {
    border-radius: 0;
    padding: 0 30px 0 30px;
    margin-top: 8px;
  }

  .project h1 {
    /*font-size: 24px;*/
  }

  #home p {
    padding: 0 30px 0 30px;
  }

  /*Project page*/

  body {
    /*background-color: blue;*/
  }

  .mainTitle.centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  img {
    width: 100%;
  }
}

/*Small screen heights*/
@media screen and (max-height: 460px) {
  body {
    /*background: green;*/
  }

  .mainTitle.centerVertically {
    top: 100%;
    transform: translateY(-150%);
  }

  #project .mainTitle h1 {
    font-size: 33px;
  }

  #project .mainTitle h2 {
    font-size: 21px;
  }

  #project h1 {
    font-size: 24px;
    margin-top: 10vh;
  }

  #project #content h1:first-child {
    font-size: 24px;
    margin-top: 0;
  }

  #project h2 {
    font-size: 21px;
    font-weight: normal;
  }

  /*#project .mainTitle {
    text-align: center;
  }*/
}
